/* variables */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #393939;
  letter-spacing: 0.01rem;
  /* background-color: #f7f4e9; */
  line-height: 180%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
}

a:hover,
a:active {
  color: #ca4116;
}

div,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* text----------------------------------------------------- */
h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0.04rem;
  color: #393939;
  margin-bottom: 40px;
  margin-top: 0;
}

.main-title {
  font-size: 90px;
  color: #393939;
  font-size: 84px;
  letter-spacing: 0.05rem;
  margin-bottom: 24px;
  line-height: 113%;
}

.title {
  color: #393939;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0.05rem;
  margin-bottom: 24px;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 160%;
  letter-spacing: 0.04rem;
  margin-top: 6px;
  margin-bottom: 28px;
}

h3 {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #5d5d5d;
  margin-bottom: 0;
  margin-top: 0;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03rem;
  line-height: 180%;
  margin-bottom: 16px;
}

p {
  margin: 0;
}

.tag {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.quotes p {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.quotes h5 {
  text-align: right;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.no-margin {
  margin: 0;
}

.no-scroll {
  overflow-y: hidden;
}

.inline-link {
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #ecececc6;
  color: #4b4b4b;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  outline: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
}
.inline-link:hover {
  background-color: #ececec;
}

strong {
  font-weight: 600;
}

.highlight {
  background-color: #dbd8d1;
}

/* containers----------------------------------------------------------- */
section {
  width: 100%;
  padding: 28px 180px 180px 180px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  gap: 50px;
}

.semi-header {
  padding-top: 80px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-fluid-20 {
  flex-basis: 20%;
}
.card-fluid-80 {
  flex-basis: 80%;
  max-width: 700px;
}
.card-fluid-100 {
  flex-basis: 100%;
}

.card-fluid {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.project-header {
  width: 100%;
}

.project-header .title {
  border-bottom: 1px solid #e8dcc9;
  padding-bottom: 34px;
}

.horizontal-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.horizontal-cards .card {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 166%;
  padding: 16px;
}
.horizontal-cards .card img {
  width: 120px;
  height: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 16px;
}

.mt-2 {
  margin-top: 32px;
}

.mb-none {
  margin-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: 16px;
}
.mb-1 {
  margin-bottom: 40px;
}

.mb-2 {
  margin-bottom: 80px;
}

.pt-0 {
  padding-top: 0;
}

.pb-2 {
  padding-bottom: 80px;
}

li {
  margin-bottom: 8px;
}

.tags {
  gap: 28px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.bg-white {
  background-color: #ffffff;
}

.story-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}
.story-block p {
  width: 700px;
}
.story-img {
  width: 157px;
  margin-left: 32px;
}
.story-img-sm {
  display: none;
}

/* text & containers media query ------------------------------------------------- */
@media (max-width: 60rem) {
  section {
    padding: 28px 28px 100px 28px;
  }
  .semi-header {
    padding: 100px 28px;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
  }
  .row-md {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section-skill .container {
    gap: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
  }
  .section-edu .container {
    gap: 40px;
  }
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 26px;
    margin-bottom: 16px;
  }
  h4 {
    margin-bottom: 12px;
  }
  .main-title {
    font-size: 60px;
    margin-bottom: 16px;
  }
  .title {
    font-size: 42px;
    margin-bottom: 0;
    padding-bottom: 0 !important;
  }
  .semi-header .title {
    margin-bottom: 0;
  }
  .semi-header .container {
    gap: 16px;
  }
  .tags {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  li {
    margin-bottom: 4px;
  }
  ul {
    padding-inline-start: 24px;
  }
  .no-gap {
    gap: 0;
  }
  .nav-link-2 {
    margin-bottom: 16px !important;
    width: auto;
    padding: 0 16px;
    border-left: 3px solid #fefefe;
    line-height: 19px;
  }
  .horizontal-cards .card {
    width: 50%;
    font-size: 12px;
    font-weight: 600;
    line-height: 166%;
  }
  .story-block {
    flex-direction: column;
  }
  .story-block p {
    width: 100%;
  }
  .story-img {
    display: none;
  }
  .story-img-sm {
    display: block;
    margin-top: 24px;
    margin-bottom: 8px;
    width: 100%;
  }
  .mb-2 {
    margin-bottom: 60px;
  }
}

/* navigation----------------------------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  padding: 20px 27px;
  margin: 0;
  z-index: 999;
  cursor: pointer;
}

@media (min-width: 60rem) {
  header {
    display: none;
  }
}

.nav {
  padding: 30px 180px 0px 180px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.active a {
  color: #ca4116 !important;
}

.nav-link {
  margin-right: 32px;
}

.nav-link-2 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  color: #393939;
  margin-bottom: 8px;
}

.nav-link a {
  font-size: 14px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #393939;
}

.nav-link .sparkle {
  height: 18px;
  margin-left: 6px;
  margin-bottom: -5px;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
}

.nav-link a:hover,
.nav-link a:active {
  color: #ca4116;
}

.nav-link a:hover + .sparkle {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}

@media (max-width: 60rem) {
  .nav {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: 10;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #393939;
    background: url(images/menu-img.png) right bottom no-repeat, #393939;
    background-size: 40vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .nav-link {
    margin-bottom: 16px;
    margin-right: 0;
  }
  .nav-link a {
    font-size: 20px;
    font-weight: 300;
    color: #f4f4f4;
  }
  .nav-link a:hover,
  .nav-link a:active {
    color: #ec6b42;
  }
  .nav-link .sparkle {
    display: none;
  }
}

.open {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.close {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}
/* section hero--------------------------------------------- */
.hero {
  position: relative;
  background: url(images/hero-img1-sm.png) right top no-repeat;
  background-size: contain;
  background-color: #f9f7f6;
}

@media (max-width: 60rem) {
  .hero {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-size: 80%;
  }
}

.hero-project-1 {
  background: url(images/bugtrack-hero.png) right top no-repeat;
  background-size: 52%;
}

@media (max-width: 60rem) {
  .hero-project-1 {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #faf4ea00), color-stop(#faf4ea), to(#faf4ea)) right bottom no-repeat, url(images/bugtrack-hero.png) right top no-repeat;
    background: linear-gradient(#faf4ea00 30%, #faf4ea, #faf4ea) right bottom no-repeat, url(images/bugtrack-hero.png) right top no-repeat;
    background-size: cover, 60%;
  }
}

@media (max-width: 40rem) {
  .hero-project-1 {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #faf4ea00), color-stop(#faf4ea), to(#faf4ea)) right bottom no-repeat, url(images/bugtrack-hero.png) right top no-repeat;
    background: linear-gradient(#faf4ea00 35%, #faf4ea, #faf4ea) right bottom no-repeat, url(images/bugtrack-hero.png) right top no-repeat;
    background-size: cover, 75%;
  }
}

.section-hero {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 28px 180px 180px 180px;
  min-height: 600px;
}

@media (max-width: 60rem) {
  .section-hero {
    height: 100vh;
    justify-content: flex-end;
    padding: 90px 28px;
  }
}

/* section project--------------------------------------------- */

#section-project {
  padding-top: 100px;
}

.card-framed-content {
  width: 100%;
  min-height: 360px;
  margin-bottom: 22px;
}

.card-framed-content .frame-img {
  width: 100%;
  height: 360px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.frame-img-big {
  height: auto !important;
}

.card-framed-content .frame-img video,
.card-framed-content .frame-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card-framed-project {
  width: 800px;
}
.card-framed-project img {
  width: 100%;
  object-fit: contain;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.frame-img-box {
  max-width: 800px;
  object-fit: contain;
}

.frame {
  width: 100%;
  height: 24px;
  background-color: #ffffffc4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.frame-dots {
  width: 8px;
  height: 8px;
  background-color: #4b4b4b;
  margin-right: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.frame-text {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  padding: 32px 46px;
  text-align: left;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.frame-text p {
  padding: 0;
  margin: 0;
}

.frame-text ul {
  padding: 20px;
}

.frame-text li {
  list-style: disc;
  margin-bottom: 10px;
}

.horizontal-card {
  width: 100%;
  background-color: #ec6b42;
}

@media (max-width: 60rem) {
  .card-framed-content {
    min-height: 320px;
    margin-bottom: 16px;
  }

  .card-framed-project,
  .card-framed-content,
  .swiper {
    width: 100% !important;
    min-height: max-content;
  }
  .swiper2,
  .swiper3 {
    width: 100% !important;
    max-height: 500px;
  }
  .frame {
    height: 20px;
  }

  .frame-dots {
    width: 6px;
    height: 6px;
  }
  .frame-text {
    padding: 26px;
  }

  .frame-img-box {
    max-width: 100%;
  }

  .card-framed-content .frame-img video,
  .card-framed-content .frame-img img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .card-framed-content .frame-img {
    height: auto;
  }
}

.img-fit {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
.img-full {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.img-full-m {
  max-width: 340px;
  height: auto;
  margin-bottom: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.horizontal-img {
  height: 650px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 6px solid #f0f0f0;
}
.horizontal-img img {
  height: 100%;
  width: auto;
}

/* scrollbar--------------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 14px;
  background-color: #dbd8d1;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a6a6a3;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #989895;
}

/* collapsible--------------------------------------------- */

.collapsible {
  font-family: "Poppins", sans-serif;
  background-color: #ecececc6;
  color: #4b4b4b;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  outline: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.active {
  color: #ca4116;
}

.collapsible:hover {
  background-color: #ececec;
  color: #ca4116;
}

.content {
  margin-top: 24px;
  width: fit-content;
  display: none;
  overflow: hidden;
}

@media (max-width: 75rem) {
  .fixed-width {
    width: auto;
  }
}

/* section about--------------------------------------------- */
#section-about {
  background: url(/images/hero-img2.png) right center no-repeat;
  background-size: 640px;
  background-color: #f9f7f6;
  padding-top: 100px;
}

@media (max-width: 75rem) {
  #section-about {
    background-size: 40%;
  }
}

@media (max-width: 64rem) {
  #section-about {
    background: none;
    background-color: #f9f7f6;
  }
}

/* contact button--------------------------------------------- */
#section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
}
.contact-btn {
  position: relative;
  z-index: 2;
  font-family: DM Serif Display, serif;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  color: #ca4116;
}

.contact-btn a:hover,
.contact-btn a:active {
  color: #f04511;
}

.contact-btn a:hover + .sparkle {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
}

.circle {
  position: absolute;
  left: 93px;
  top: -20px;
  z-index: -1;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  border: 2px dotted #ca411669;
  animation: rotating 40s linear infinite;
  -webkit-animation: rotating 40s linear infinite;
}

.sparkle {
  height: 25px;
  margin-left: 5px;
  margin-bottom: -2px;
  transform: scale(1, 1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}

.contact-btn-big {
  margin: 0 10px 90px 10px;
  text-align: center;
}

.contact-btn-big .circle {
  left: 87%;
  top: -25px;
  animation: rotating 60s linear infinite;
  -webkit-animation: rotating 60s linear infinite;
}

.contact-btn-big .sparkle {
  position: absolute;
  height: 30px;
  top: 0;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/***New styles***/
.text-block-horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.text-block-horizontal-header {
  flex-basis: 30%;
  padding-right: 80px;
  margin-top: 0;
}
.text-block-horizontal-text {
  flex-basis: 70%;
  max-width: 700px;
}
.card-block-horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 50px;
}
.card-block-50 {
  flex-basis: 50%;
  margin-bottom: 50px;
}
.card-block-50 p {
  margin-top: 20px;
  text-align: center;
}
.ul-no-padding {
  margin: 0;
  padding-inline-start: 20px;
}

.project-banner {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: auto;
}

.project-banner-md {
  width: 100%;
  max-width: 1000px;
  object-fit: cover;
  object-position: top;
  height: auto;
}

.img-100 {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

.img-50 {
  width: 100%;
  height: 370px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

.video-container {
  height: auto;
  text-align: center;
  background-color: #dd1e50;
  padding: 80px;
  margin: 0 180px 180px 180px;
}

.video-full {
  width: 900px;
  border-radius: 24px;
  border: 6px solid #ffffff80;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
.horizontal-scroll-bg {
  width: 100%;
  margin-bottom: 180px;
  background: url(images/lavisco/test-slider-bg.png) center no-repeat, #c83c62;
  background-size: cover;
}
.horizontal-scroll {
  height: auto;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 80px;
  display: flex;
  flex-direction: row;
}
.horizontal-scroll .img-desktop {
  height: 450px;
  min-width: 650px;
  margin-right: 30px;
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.horizontal-scroll .img-mob {
  height: 450px;
  min-width: 210px;
  margin-right: 30px;
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

@media (max-width: 60rem) {
  .text-block-horizontal {
    flex-direction: column;
  }
  .text-block-horizontal-header {
    padding-right: 0;
    margin-bottom: 28px;
  }
  .card-block-horizontal {
    flex-direction: column;
    gap: 0;
  }
  .card-block-50 {
    margin-bottom: 40px;
  }
  .card-block-50 p {
    margin-top: 16px;
  }

  .img-100,
  .img-50 {
    height: 300px;
    margin-bottom: 16px;
  }
}

/*# sourceMappingURL=main.css.map */

.swiper {
  width: 800px;
}
.swiper2 {
  width: 900px;
  height: 90vh;
}

.swiper3 {
  width: 900px;
  height: 600px;
}

.swiper2 .swiper-slide,
.project-info-swiper .swiper-slide,
.swiper3 .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.swiper2 .swiper-slide img,
.project-info-swiper .swiper-slide img,
.swiper3 .swiper-slide img {
  display: block;
  max-width: 100%;
  max-height: calc(100% - 36px);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid #f1f1f1;
}
.swiper2 .swiper-slide h4,
.project-info-swiper .swiper-slide h4,
.swiper3 .swiper-slide h4 {
  margin: 0;
  height: 36px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #393939 !important;
}

.swiper-button-prev {
  left: 4px !important;
}
.swiper-button-next {
  right: 4px !important;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: url(/images/arrow-right.svg) !important;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: url(/images/arrow-left.svg) !important;
}
.swiper-pagination-bullet-active {
  background: #393939 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -3px !important;
}
